@media screen and (min-width: 791px) {
    body {
        text-align: center;
        background-color: #0e5295;
    }
    #panelLeft {
        display: none;
        visibility: hidden
    }
    .wrap {
        margin: 0 auto;
        width: 960px;
    }
    .level {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .boodschap {
        font-family: sans-serif;
        font-size: 35px;
        padding-bottom: 30px;
        padding-top: 15px;
    }
    #jeu {
        margin: 0 auto;
        width: 400px;
        height: 500px;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    .fond {
        margin-bottom: -20px;
        z-index: 10;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 55px;
        width: 30px;
    }
    #vr {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 30px;
    }
    #vr2 {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 30px;
    }
    #vr3 {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 30px;
    }
    .titel {
        text-align: center;
        line-height: 200px;
        font-size: 40px;
        color: #00b;
    }
    button {
        padding: 15px 25px;
        border: none;
        border-radius: 6px;
        text-align: center;
        font-size: 18px;
        outline: none;
        color: #fff;
        background-color: #1491c1;
        box-shadow: 0 6px #999;
        cursor: pointer;
    }
    button:hover {
        background-color: #0e5295;
    }
    button:active {
        background-color: #0e5295;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    .input[type=text],
    select {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: white;
    }
    .inputtextfield {
        color: white;
        margin: 8px 0;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        background-color: dodgerblue;
        cursor: pointer;
    }
    .inputtextfield:hover {
        background-color: #0e5295;
    }
    .container {
        padding-top: 1%;
        padding-bottom: 5%;
    }
    .spelNiveau {
        width: 50%;
        float: left;
        padding-bottom: 25px;
    }
    .persoon {
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .Hetspel {
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .collision {
        font-family: sans-serif;
        font-size: 25px;
        padding-bottom: 10px;
    }
    .timer {
        font-family: sans-serif;
        font-size: 25px;
        padding-bottom: 10px;
    }
    #uwScore {
        font-family: sans-serif;
        font-size: 25px;
        padding-bottom: 10px;
    }
    #verlies {
        font-family: sans-serif;
        font-size: 25px;
        padding-bottom: 10px;
    }
    .naam {
        font-family: sans-serif;
        font-size: 25px;
        padding-bottom: 10px;
    }
    .algemeenContainer {
        width: 100%;
    }
    #leftLevel {
        float: left;
        width: 25%;
    }
    #highscoreDB {
        float: left;
        width: 25%;
    }
    #highscoreDB2 {
        float: left;
        width: 25%;
    }
    .containerSpel {
        float: left;
        width: 50%;
    }
    footer {
        width: 100%;
        margin: 0 auto;
        padding: 30px 0px 30px 0px;
        overflow: hidden;
    }
    #links {
        display: none;
    }
    #rechts {
        display: none;
    }
    #startImg {
        margin: 0 auto;
    }
    #startImg img {
        width: 5%;
    }
        th{
        padding: 0px 30px 0px 30px;
    }
}

@media screen and (max-width: 525px) {
    body {
        text-align: center;
        background-color: #0e5295;
        height: 100%;
    }
    .level {
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .boodschap {
        display: none;
    }
    .wrap {
        margin: 0 auto;
        width: 90%;
    }
    #jeu {
        margin: 0 auto;
        width: 100%;
        height: 75vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    .fond {
        margin-bottom: -20px;
        z-index: 10;
        position: relative;
        width: 100%;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 40px;
        width: 29px;
    }
    #vr {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 8%;
    }
    #vr2 {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 29px;
    }
    #vr3 {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 29px;
    }
    .titel {
        text-align: center;
        line-height: 30%px;
        font-size: 20%px;
        color: #00b;
    }
    button {
        font-size: 100%;
        padding: 15px 25px;
        border: none;
        border-radius: 6px;
        text-align: center;
        outline: none;
        color: #fff;
        background-color: #1491c1;
        box-shadow: 0 6px #999;
        cursor: pointer;
    }
    button:hover {
        background-color: #0e5295;
    }
    button:active {
        background-color: #0e5295;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    .inputtextfield {
        font-size: 100%;
        color: white;
        width: 50%;
        margin: 6px 0;
        padding: 10px 14px;
        border: none;
        border-radius: 4px;
        background-color: dodgerblue;
        cursor: pointer;
    }
    .inputtextfield:hover {
        background-color: #0e5295;
    }
    .container {
        padding-top: 1%;
        padding-bottom: 5%;
    }
    .spelNiveau {
        padding-bottom: 25px;
    }
    .persoon {
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .Hetspel {
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .collision {
        font-family: sans-serif;
        font-size: 100%;
        padding-bottom: 10px;
    }
    .timer {
        font-family: sans-serif;
        font-size: 100%;
        padding-bottom: 10px;
    }
    #uwScore {
        font-family: sans-serif;
        font-size: 100%;
        padding-bottom: 10px;
    }
    th{
        padding: 0px 20px 0px 20px;
    }
    .naam {
        font-family: sans-serif;
        font-size: 100%;
        padding-bottom: 10px;
    }
    .algemeenContainer {
        width: 100%;
    }
    #leftLevel {
        display: none;
    }
    .score {
        text-align: center;
        overflow: hidden;
    }
    .highscoreDB2 {
        float: left;
        display: none;
    }
    .containerSpel {
        float: left;
        width: 100%;
    }
    footer {
        width: 100%;
        margin: 0 auto;
        padding: 17px 0px 27px 0px;
        overflow: hidden;
    }
    #links {
        z-index: 101;
        position: absolute;
        width: 15%;
        bottom: 10px;
        left: 20%;
    }
    #rechts {
        z-index: 101;
        position: absolute;
        right: 20%;
        width: 15%;
        bottom: 10px;
    }
    #rightDatabase {
        display: none;
    }
    #gaSpelen {
        font-size: 100%;
    }
    #startImg {
        margin: 0 auto;
        width: 25%;
    }
    #startImg img {
        width: 35%;
    }
}


/** Voor Samsung Galaxy S5 */

@media (max-width:400px) and (min-width:350px) {
    .boodschap {
        display: none;
    }
    #jeu {
        margin: 0 auto;
        width: 100%;
        height: 75vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 60px;
        width: 29px;
    }
    #gaSpelen {
        font-size: 100%;
    }
    #startImg {
        margin: 0 auto;
        width: 25%;
    }
    #startImg img {
        width: 35%;
    }
}


/** Voor Nexus 5P en 6P */

@media (max-width:413px) and (min-width:401px) {
    .boodschap {
        display: none;
    }
    #jeu {
        margin: 0 auto;
        width: 100%;
        height: 77vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 60px;
        width: 29px;
    }
    #gaSpelen {
        font-size: 100%;
    }
    #startImg {
        margin: 0 auto;
        width: 25%;
    }
    #startImg img {
        width: 35%;
    }
}


/** Voor iPhone 6 */

@media (max-width:380px) and (min-width:365px) {
    .boodschap {
        display: none;
    }
    #jeu {
        margin: 0 auto;
        width: 400px;
        height: 75vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 60px;
        width: 29px;
    }
    #gaSpelen {
        font-size: 100%;
    }
    #startImg {
        margin: 0 auto;
        width: 25%;
    }
    #startImg img {
        width: 35%;
    }
}


/** Voor Galaxy S5*/

@media (max-width:370px) and (min-width:355px) {
    .boodschap {
        display: none;
    }
    #jeu {
        margin: 0 auto;
        width: 100%;
        height: 75vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 60px;
        width: 29px;
    }
    #startImg {
        margin: 0 auto;
        width: 30%;
    }
    #startImg img {
        width: 30%;
    }
}


/** Voor iPhone 6 Plus */

@media (max-width:414px) and (min-width:414px) {
    .boodschap {
        display: none;
    }
    #jeu {
        margin: 0 auto;
        width: 100%;
        height: 77vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 60px;
        width: 29px;
    }
    #startImg {
        margin: 0 auto;
        width: 25%;
    }
    #startImg img {
        width: 35%;
    }
}


/** Voor Iphone 5 */

@media (max-width:321px) and (min-width:319px) {
    .boodschap {
        display: none;
    }
    #jeu {
        margin: 0 auto;
        width: 100%;
        height: 75vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 40px;
        width: 20px;
    }
    #Hscore {
        font-size: 12px;
    }
    #muziekaan {
        font-size: 12px;
    }
    #Herstart {
        font-size: 12px;
    }
    #startImg {
        margin: 0 auto;
        width: 30%;
    }
    #startImg img {
        width: 40%;
    }
}


/** Voor IPAD */

@media (max-width:790px) and (min-width:600px) {
    #jeu {
        margin: 0 auto;
        width: 400px;
        height: 77vh;
        border: 2px black solid;
        overflow: hidden;
        position: relative;
    }
    #vj {
        z-index: 100;
        position: absolute;
        top: 10px;
        left: 60px;
        width: 40px;
    }
    .fond {
        margin-bottom: -20px;
        z-index: 10;
        position: relative;
    }
    #vr {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 30px;
    }
    #vr2 {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 30px;
    }
    #vr3 {
        z-index: 80;
        position: absolute;
        top: -200px;
        left: 0px;
        width: 30px;
    }
    .titel {
        text-align: center;
        line-height: 200px;
        font-size: 40px;
        color: #00b;
    }
    button {
        padding: 15px 25px;
        border: none;
        border-radius: 6px;
        text-align: center;
        font-size: 18px;
        outline: none;
        color: #fff;
        background-color: #1491c1;
        box-shadow: 0 6px #999;
        cursor: pointer;
    }
    button:hover {
        background-color: #0e5295;
    }
    button:active {
        background-color: #0e5295;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    .spelNiveau {
        text-align: center;
        padding-bottom: 25px;
    }
    .boodschap {
        font-family: sans-serif;
        font-size: 25px;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .level {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    #leftLevel {
        display: none;
    }
    #rightDatabase {
        display: none;
    }
    #Hscore {
        font-size: 25px;
    }
    #muziekaan {
        font-size: 25px;
    }
    #Herstart {
        font-size: 25px;
    }
    .collision {
        font-family: sans-serif;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .timer {
        font-family: sans-serif;
        font-size: 30px;
        padding-bottom: 10px;
    }
    #uwScore {
        font-family: sans-serif;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .naam {
        font-family: sans-serif;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .score {
        text-align: center;
        overflow: hidden;
    }

    #gaSpelen {
        font-size: 100%;
    }
    #startImg {
        margin: 0 auto;
        width: 25%;
    }
    #startImg img {
        width: 35%;
    }
}